# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django / Python-specific
*.log
*.pot
*.pyc
*.mo
*.cover
*.py,cover
coverage.xml
nosetests.xml
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/
.coverage*
.hypothesis/

# SQLite DB and journal
db.sqlite3
db.sqlite3-journal

# Media files
/media/

# Local settings (if any)
local_settings.py

# Virtual environments
.env
.venv/
env/
ENV/
env.bak/
venv.bak/

# VSCode (si estás usando VSCode)
.vscode/

# IDEs and project settings
.spyderproject
.spyproject
.ropeproject
.pyre/
.pytype/
.mypy_cache/
.dmypy.json
.dmypy.json

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# pip / poetry / pdm
pip-log.txt
pip-delete-this-directory.txt
Pipfile.lock
poetry.lock
pdm.lock
.pdm.toml

# Static & collected files (si usas collectstatic)
# staticfiles/

# Celery
celerybeat-schedule
celerybeat.pid

# Otros
*.spec
*.manifest
cython_debug/
__pypackages__/

# Ignore compiled files inside apps
accounts/__pycache__/
interactions/__pycache__/
media/__pycache__/
payments/__pycache__/
searching/__pycache__/
serconn_p1/__pycache__/

# PyInstaller
*.spec
